/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(135deg, #f2f5fa, #99a8c3, #e63946, #a83809);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    background-color: #ae6692;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    background-color: rgba(249, 212, 212, 0.8);
    font-family: 'Arial', sans-serif;
    width: 100%;
    z-index: 1000;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0; /* Fixe le header au sommet de la fenêtre */
}

.logo {
    color: #e63970;
    text-decoration: none;
}

.navigation {
    padding: 20px 0;
}

.navigation__container {
    display: none;
}

/* Styles de la section contact */
.contact {
    padding: 50px 0;
    text-align: center;
    padding: 3em;
}
.container
{
    max-width: 700px;
    margin: 0 auto;
}
.contact h2
{
    color: #99a8c3;
}
.main
{
    position: relative;
    display: flex;
    margin: 3px 0;
}
.content
{
    flex-basis: 50%;
    padding: 3em 3em;
    background-image: linear-gradient(to right,rgb(166, 145, 209), #99a8c3);
    box-shadow: 2px 9px 49px -17px black(0,0,0,0,1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form_img
{
    flex-basis:50%;
    background: #f0f4f8;
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px ;
    align-items : center;
    display: grid;
}
.form-image image
{
    max-width: 100%;
}
.btn,
button,
input
{
    border-radius:35px ;
}
.btn:hover,
button:hover
{
    color :#272346;
    transition: 0.5s ease;
}
.contact form
{
    margin: 30px 0;
}
.contact input
{
    outline:none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing:border-box ;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact textarea
{
    outline:none;
    margin-bottom: 35px;
    font-stretch: 20px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing:border-box ;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact input :focus
{
    background: transparent;
    border:1px solid;
}
.contact button
{
    font-size: 18px;
    color: #f0f4f8;
    width: 100%;
    background: #143167;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
}
@media (max-width: 736px)
{
    .contact {flex-direction: column;}
    .contact form {margin-top: 30px;
    margin-bottom: 10px;}
    .contact img{border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order:2;}
    content {order: 1;
    border-top-left-radius: 8px;
}
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer__copyright {
    text-align: center;
    color: #e63946;
}

/* Média query pour les écrans larges */
@media (min-width: 768px) {
    .navigation__container {
        display: block;
    }

    .navigation__list {
        display: flex;
        justify-content: flex-end;
        color: #e63970;
    }

    .navigation__item {
        margin-left: 20px;
    }

    .navigation__link {
        color: #e63946;
        text-decoration: none;
    }

    /* Ajout pour les liens spécifiques */
    .navigation__list li:nth-child(1) a,
    .navigation__list li:nth-child(2) a,
    .navigation__list li:nth-child(3) a,
    .navigation__list li:nth-child(4) a {
        color: pink;
    }

    .navigation__list li:nth-child(1) a:hover,
    .navigation__list li:nth-child(2) a:hover,
    .navigation__list li:nth-child(3) a:hover,
    .navigation__list li:nth-child(4) a:hover {
        background-color: #c9d9f3; /* Bleu ciel clair au survol */
    }

    .navigation__list li:nth-child(1) a:active,
    .navigation__list li:nth-child(2) a:active,
    .navigation__list li:nth-child(3) a:active,
    .navigation__list li:nth-child(4) a:active {
        background-color: #f7f7f7;
    }
}