/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(135deg, #f2f5fa, #99a8c3, #e63946, #a83809);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    background-color: #ae6692;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    background-color: rgba(249, 212, 212, 0.8);
    font-family: 'Arial', sans-serif;
    width: 100%;
    z-index: 1000;
    position: fixed; /* Fixe le header en haut de la page */
    top: 0; /* Fixe le header au sommet de la fenêtre */
}


.logo {
    color: #e63970;
    text-decoration: none;
}

.navigation {
    padding: 20px 0;
}

.navigation__container {
    display: none;
}

.contact h2 {
    color: #99a8c3;
}

.contact p {
    background: linear-gradient(to right, pink, #00ff00, #0000ff);
    -webkit-background-clip: text;
    color: transparent;
}

.contact__form {
    color: #e63946;
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer__copyright {
    text-align: center;
    color: #e63946;
}

/* Média query pour les écrans larges */
@media (min-width: 768px) {
    .navigation__container {
        display: block;
    }

    .navigation__list {
        display: flex;
        justify-content: flex-end;
        color: #e63970;
    }

    .navigation__item {
        margin-left: 20px;
    }

    .navigation__link {
        color: #e63946;
        text-decoration: none;
    }

    /* Ajout pour les liens spécifiques */
    .navigation__list li:nth-child(1) a,
    .navigation__list li:nth-child(2) a,
    .navigation__list li:nth-child(3) a,
    .navigation__list li:nth-child(4) a {
        color: pink;
    }

    .navigation__list li:nth-child(1) a:hover,
    .navigation__list li:nth-child(2) a:hover,
    .navigation__list li:nth-child(3) a:hover,
    .navigation__list li:nth-child(4) a:hover {
        background-color: #c9d9f3;
    }

    .navigation__list li:nth-child(1) a:active,
    .navigation__list li:nth-child(2) a:active,
    .navigation__list li:nth-child(3) a:active,
    .navigation__list li:nth-child(4) a:active {
        background-color: #f7f7f7;
    }
}